.heading-secondary {
  font-family: "Courier New", Courier, monospace;
  font-size: 60px;
  color: peachpuff;
}

.subheadingClass {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial;
  font-size: 60px;
  font-weight: semi-bold;
  color: slategray;
}
